@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}
